<!DOCTYPE html>
<html>
<head>
    <title>Home View</title>
    <link rel="stylesheet" type="text/css" href="../static/homeView.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="tablink-container">
    <button class="tablink active" onclick="toggle('Home', this)">Home</button>
    <button class="tablink" onclick="toggle('MyBoards', this)">My Boards</button>
    <button class="tablink" onclick="toggle('JoinBoard', this)">Join a Board</button>
    <button class="tablink" onclick="toggle('CreateBoard', this)">Create a Board</button>
    <button class="tablink" onclick="toggle('Logout', this)">Log Out</button>
</div>

<div id="Home" class="tabcontent active">
    <div class="welcome-section">
        <h2>Welcome, <span class="user-placeholder">User</span>!</h2>
        <p>What are we doing today?</p>
        <div class="action-buttons">
            <button class="home-button" onClick="toggle('MyBoards')"><i class="fas fa-paint-brush"></i> View my Boards</button>
            <button class="home-button" onClick="toggle('JoinBoard')"><i class="fas fa-plus"></i> Join a Board</button>
            <button class="home-button" onClick ="toggle('CreateBoard')"><i class="fas fa-chalkboard-teacher"></i> Create a Board</button>
            <button class="home-button" ><i class="fas fa-sign-out-alt"></i> Log Out</button> <!--log out button-->
        </div>
    </div>
    <div class="board-suggestions">
        <h3>Board Suggestions</h3>
        <ol id = "list" class="suggestions-list">
            <li class="board-item">
                <span>Board1</span><span>Last edited: Sun, April 7th, 2024</span><button id = "tablinksug" class = "tablink">Open</button>
            </li>
        </ol>
    </div>
</div>

<div id="MyBoards" class="tabcontent my-boards">
    <h1>These are your boards!</h1>
    <table id="list2" class="board-list">
        <thead>
        <tr id="board-header">
            <th>Boards</th>
            <th>Collaborators</th>
            <th id = "actions"> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="board-item">
           <!-- <td>
                <button class="tablink">Open</button>
                <button class="tablink">Leave</button>
                <button class="tablink">Close</button>
            </td>
            -->
        </tr>
        </tbody>
    </table>
</div>



<div id="JoinBoard" class="tabcontent">
    <h1 id = "h1">You've Been Invited!</h1>
    <p class="centerJoin" id="boardC">Got a Board Code?</p>
    <input type="text" id="board-input" name="board-id">
    <div class="buttons-container">
        <button type="submit">Let me in!</button>
    </div>
</div>



<div id="CreateBoard" class="tabcontent">
    <h2>Let's Make a New Board!</h2>
    <div>
        <label for="boardName">What should we call it?</label>
        <input type="text" id="boardName" placeholder="Legendary name goes here..." required>

        <label for="collaborator">Who else gets to work on it?</label>
        <input type="text" id="collaborator" placeholder="Put their username here!">
        <button type="button" id = "add-them" onclick="addCollaborator()">Add them!</button>
        <div id = "collaboratorsListCon">
        <p><b>Collaborators:</b></p>
        <div id="collaboratorsList" class="collaborators">
            <p>User1</p>
            <p>User2</p>
            <p>User3</p>
            <p>User4</p>
        </div>
        </div>

        <button type="button" class="big-action-button">DO IT!</button>
    </div>
</div>





<script>
    function toggle(selectedPage) {
        const contents = document.querySelectorAll('.tabcontent');
        contents.forEach(content => content.style.display = 'none');
        const links = document.querySelectorAll('.tablink');
        links.forEach(link => link.classList.remove('active'));
        document.getElementById(selectedPage).style.display = 'block';
        event.currentTarget.classList.add('active');
    }
    document.querySelector('#defaultOpen').click();

    function addCollaborator() {
        let collaborator = document.getElementById('collaborator').value;
        let collaboratorList = document.getElementById('collaboratorsList');
        let newCollaborator = document.createElement('p');
        newCollaborator.textContent = collaborator;
        collaboratorList.appendChild(newCollaborator);
    }



</script>

</body>
</html>
