<!DOCTYPE html>
<html lang="en">
<head>
    <title>UC Merced Login</title>
    <link rel="stylesheet" href="../static/LoginStyle.css">
</head>
<body>
<div class="App">
    <img src="Logo.png" class="Logo" alt="Logo Picture">
    <div class="container1">
        <h1 class="UC-Merced">Super Sketch</h1>
        <h2 class="singleLog">Login</h2>
        <form action="{{ url_for("login") }}" method="post">
            <input type="text" name="username" placeholder="Username">
            <input id="inputPass" name="password" type="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <input type="checkbox" id="showPass"> Show Password
        <p id="Not-member"> Not a member ? <a href="/signup">Sign up here</a> </p>
        {% if message != None %}
        <div style="color: {{ messageColor }}"> {{ message }}</div>
        {% endif %}
    </div>
</div>
</body>
</html>
<script>
    document.getElementById('showPass').onchange = function() {
        document.getElementById('inputPass').type = this.checked ? 'text' : 'password';
    };
</script>
