<!DOCTYPE html>
<html lang="en">
<head>
    <title>Super Sketch Sign Up</title>
    <link rel="stylesheet" href="../static/SignUpStyle.css">
</head>
<body>
<div class="App">
    <img src="Logo.png" class="Logo" alt="Logo Picture">
    <form id="signupForm" class="container1">
        <h1 class="UC-Merced">Super Sketch</h1>
        <h2 class="singleLog">Sign Up</h2>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="Name" placeholder="Name">
        <input id="inputPass" name="password" type="password" placeholder="Password">
        <input id="confirmInputPass" name="confirmPassword" type="password" placeholder="Confirm Password">
        <button type="submit">Good to go!</button>
        <input type="checkbox" id="showPass" onchange="togglePassword()"> Show Passwords
        <p id="Not-member">Already a member? <a href="login">Login here</a></p>
    </form>
</div>
</body>
</html>
<script>
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        let confirm = document.getElementById('confirmInputPass').value;
        let password = document.getElementById('inputPass').value;
        let pattern = /^(?=.*[0-9].*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
        if (!pattern.test(password) || password !== confirm) {
            event.preventDefault();
            alert('Password must be at least 8 characters long, contain at least one special character, and more than one number. Also, passwords must match.');
        }
    });

    function togglePassword() {
        let password = document.getElementById('inputPass');
        let confirmPassword = document.getElementById('confirmInputPass');
        if (document.getElementById('showPass').checked) {
            password.type = 'text';
            confirmPassword.type = 'text';
        } else {
            password.type = 'password';
            confirmPassword.type = 'password';
        }
    }
</script>

